page-counselingpage {

    .contents{
        padding: 16px;
    border: solid 1px;
    border-radius: 10px;
    }
    .button{    margin: auto;
        text-align: center;
        margin-top: 2em;
        display: block;}
    .header{
        text-align: center;
        margin-bottom: 2em;
        margin-top: 2em;
    }
}
